<p>Randomly generated number: <%= @number %></p>
<%= f = form_for(:form, "#", [phx_submit: :generate_number]) %>
<div>
    <%= label(f, "Min")  %>
    <%= number_input(f, :min) %>
</div>
<div>
    <%= label(f, "Max")  %>
    <%= number_input(f, :max) %>
</div>
<div>
    <%= submit("Generate number") %>
</div>
</form>
