<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Panacea", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
        </a>
      </section>
      <section class="container">
          <div>
              <div class="inline-element">
                  <%= link("Home", to: Routes.page_path(@conn, :index)) %>
              </div>
              <div class="inline-element">
                  <%= link("Arduino Control", to: Routes.arduino_path(@conn, :index)) %>
              </div>
              <div class="inline-element">
                  <%= link("Images / GIFs", to: Routes.png_path(@conn, :index)) %>
              </div>
              <div class="inline-element">
                  <%= link("Snake", to: Routes.snake_path(@conn, :index)) %>
              </div>
          </div>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
